header{
    background-color: #69C856;
    height:100px;
    align-items: center;
    justify-items: center;
}

#menu{
    display: block;
    justify-content: center;
    margin: auto;
}

h1{
    font-size: 50px;
    text-align: center;
    justify-content: center;
}

nav{
    background-color: #9297C4;
    display:grid;
    grid-template-rows: repeat(4, 1fr);
    text-align: center;
    list-style-type: none;
    font-size: 30px;
}

.hero{
    display: block;
    margin: auto;
    width: 850px;
    height: 400px;
}

.hero img{
    width: 850px;
    border-radius: 10px;;
}

.hero a{
    display:block;
    margin: auto;
    text-align: center;
}

main{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    border-style: solid;
    border-color: #3A405A;
    border-width: 100px;
    border-top: 0px;
}

div{
    height: 100px;
    width: 100px;
}

.card{
    grid-row: 2/3;
    background-color: #F5ECFE;
    margin: auto;
    margin-bottom: 50px;
}

.events{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr, 1fr;
    background-color: #69C856;
    margin: 50px;
    border-radius: 20px;
    justify-content: center;
}

.weather{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr, 1fr;
    background-color: #9297C4;
    margin: 50px;
    border-radius: 20px;
}

.spotlights{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr, 1fr;
    background-color: #F5ECFE;
    margin: 50px;
    border-radius: 20px;
}

.spotlights div{
    border-style: double;
    border-color:#69C856;
    border-width: 5px;
}

footer{
    background-color: #3A405A;
    height: 150px;
    text-align: center;
    color:#F5ECFE;
}

/* The switch - the box around the slider */
.switch {
    position: absolute;
	top: 1rem;
	right: 1rem;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .sidecard{
    grid-column: 1;
    background-color: #69C856;
    margin: auto;
    margin-bottom: 50px;
    width: 300px;
    height: 400px;
}

.hover{
    grid-column: 2;
    margin: 5%;
    height: fit-content;
    width: fit-content;
}

.hover:hover {box-shadow: 0 0 50px #333;}

@media screen and (max-width: 640px){
    header{
        height:200px;
    }
    main{
        border-width: 50px;
    }

    a{
        display:none;
    }

    .hero{
        width: 400px;
    }

    .hero img{
        width: 400px;
    }

    #menu {
        font-size: 1.5rem;
        border: 0;
        background: none;
        color: #000;
    }

    #menu::before {
        content: "☰";
    }

    #menu.open::before {
        content: "❎";
    }

    .open a {
        display: block;
    }

    .hover{
        grid-column: 1;
    }
}