main{
    margin: auto;
    width: 500px;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    background-color: teal;
    background: teal;
    height: 150px;
}

img{
    height:100px;
    margin: 0;
    float: left;
}

h1{
    border-style:solid;
    border-color: black;
    border:5px;
    text-align:center;
    font-size: 50px;
    margin: 65px;
    padding: 3px;
}

.hero{
    position:relative;
}

.hero img{
    position: relative;
    height: 100%;
    width: 100%;
}

.overlay{
    position: absolute;
    top: 270px;
    left: 175px;
    font-size: 8px;
}

nav{
    display:grid;
    grid-template-rows: 5;
    text-align: center;
    background-color:darkslategray;
    font-size: 50px;
    list-style-type: none;
}

a{
    display:none;
    text-align: center;
    margin: 15px;
}

h3{
    text-align: center;
    background-color: teal;
    color: aliceblue;
    font-size: 40px;
    margin: 0;
}

.card{
    display:grid;
    grid-template-columns: 3;
    border-style: solid;
    border-color: teal;
    border-width: 3px;
    margin: 10px;
}

p{
    text-align: center;
}

iframe{
    display: block;
    margin: auto;
    width: 500px;
}

footer{
    background-color: teal;
    align-items: center;
    justify-content: center;
    height: 90px;
    color: aliceblue;
}