@media screen and (max-width: 640px){
    a{
        display:none;
    }

    #menu {
        font-size: 1.5rem;
        border: 0;
        background: none;
        color: #000;
         position: absolute;
        right: 2em;
        top: 2.5em;
    }
    
    #menu::before {
        content: "☰";
    }
    
    #menu.open::before {
        content: "❎";
    }
    
    .open a {
        display: block;
    }

    .active::before {
        content: "👉";
    }
}